
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordMobile</title>
    <!-- Bootstrap -->
    <link href="~/ags-mobile/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/ags-mobile/vendors/font-awesome/css/font-awesome.min1.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/ags-mobile/build/css/customeLogin.css" rel="stylesheet">
    <style>
        .closebtn {
            height: 35px !important;
            top: 0px !important;
            right: 0px !important;
            padding: 0px !important;
            font-size: 40px !important;
            width: 70px !important;
            background: none !important;
        }

    </style>
</head>

<body>
    <div class="L1">
        <!-- <img src="images/bg.jpg"> -->
        <div class="container">
            <div class="row">
                <br>
                <div class="col-sm-12 col-xs-12 ">

                </div>

                <div class="col-sm-12 col-xs-12 L11">
                    <!-- Authentication card start -->
                    <form class="form-horizontal f1" id="login-form" method="post" action="@Url.Content("/Account/ForgotPasswordMobile/")">


                        @if (TempData["NotExst"] != null)
                        {

                            <div class="alert alert-danger alert-dismissible" role="alert" style="display: inline-flex;">
                                <button type="button" class="close closebtn" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                @TempData["NotExst"].ToString()
                            </div>

                        }
                        @if (TempData["mail"] != null)
                        {

                            <div class="alert alert-success alert-dismissible" role="alert" style="display: inline-flex;">
                                <button type="button" class="close closebtn" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                @TempData["mail"].ToString()
                            </div>

                        }
                        @if (TempData["email"] != null)
                        {

                            <div class="alert alert-danger alert-dismissible" role="alert" style="display: inline-flex;">
                                <button type="button" class="close closebtn" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                @TempData["email"].ToString()
                            </div>

                        }

                        <h2><img src="/ags-mobile/images/keys.png"></h2>
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12 gly utype">
                                <select name="userlevel" id="userlevel" class="form-control" style="height: 44px;border-radius: 3px;border-color: #333c4a;color: #9a9a9a;" required="">
                                    <option value="">Select user type</option>
                                    <option value="partner">Vendors</option>
                                    <option value="clientele">Customers</option>
                                    <option value="sales_executive">Sales Executive</option>
                                    <option value="manager">Manager</option>
                                    <!--<option value="Student">Student</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12 ">
                                <!-- <i class="fa fa-user" aria-hidden="true"></i> --><label class="lbl">USERNAME</label>
                            </div>

                            <div class="col-sm-12 col-xs-12 gly">
                                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                                <input type="text" id="userName" name="userName" class="fc1 pd1" placeholder="user name" required="required">
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12 ">
                                <a href="~/Account/MobileLogin" class="text-right f-w-600 lbl" style="font-size: 12px;color: black !important;font-weight: 900;"> Back To Login.?</a>
                            </div>

                           

                        </div>


                        <div class="form-group">

                            <div class="col-sm-12 col-xs-12">
                                <button type="submit" value="Login" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" style="background-color: #d91f27; border-color: white;">RESET PASSWORD</button>
                            </div>

                        </div>

                    </form>







                </div>
                <!-- <div class="col-sm-4"></div> -->
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/ags-mobile/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/ags-mobile/vendors/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Custom Theme Scripts -->
    <script src="~/ags-mobile/build/js/custom.min.js"></script>

</body>

</html>
