
@{
    Layout = null;
}

<html>
<body>
    <h2>Disclaimer:</h2><br>
    <p>AGS Keys is a financial institution and it is incorporated in the year of 2018. We are a leading channel partners for all banks and NBFC's in India. We are committed to help loan seekers especially in Home Loan to find out the right lender with the proper guidance.</p><br>
    <h2>AGS KEYS:</h2></br>
    <p>
        AGS KEYS is a leading consumer financial services oriented organization established in 2018 and situated in Bangalore. We are one of the dynamic, developing firms with interests in various segments of the financial services. We are resolved to help loan seekers particularly in Home Loan to discover the correct lender with the best possible direction. It is a one stop solution for your necessity with no additional or concealed charges.
        As expert Independent Financial Advisers, forceful deals and administrations are approved to manage the presumed banks that had some expertise in home loans. AGS KEYS is the perfect place to the perfect answer for work out their fantasies. Our team of experts will guide you through out the entire process of buying of your dream house, Plot/ Loans for self-construction of house.
        Our mission is to provide quality guidance, build relationships of trust, and develop innovative solutions for our clients. We are perfectly positioned to meet your unique financial needs while striving to exceed your highest expectations.
        We connect highly-motivated consumers with financial institutions, resulting in leads that generate among the highest percentage of closed loans in our industry. If you need to get in touch with us for any reason, please use one of the channels listed in the contacts page. We focus on Home Loan solutions, as well as the associated services.

    </p></br>
    <h2>Privacy & Disclaimer: </h2></br>
    <p>
        We will never use any personally identifiable information, or collect, use, or share such information for any purposes. We will never target advertisements to users’personally identifiable information to third parties for any purpose.
    </p></br>
    <h2>General Statement: </h2></br>
    <p>AGS KEYS fully respects your right to privacy and actively seeks to preserve the privacy rights of those who share information with the school. We will not collect any personal information about you on this website without your clear permission. Any personal information, which you volunteer to AGS KEYS, will be treated with the highest standards of security and confidentiality, strictly in accordance with the Data Protection Acts. </p></br>
    <h2>Security: </h2></br>
    <p>We follow generally accepted industry practices to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially reasonable means to protect your personal information, we cannot guarantee its absolute security. </p></br>

    <h2>Cookies:</h2></br>
    <p> A cookie is a small text file that a website can place on your computer's hard drive for record-keeping or other administrative purposes. Our Website may use cookies to help to personalize your experience on the Website. Although most web browsers accept cookies automatically, usually you can modify your browser setting to decline cookies. If you decide to decline cookies, you may not be able to fully use the features of the Website. Cookies may also be used at certain sites accessible through links on the Website. </p></br>
    <h2>Contact Us:</h2></br>
    <p>If you have questions about the Terms or if you wish that we modify or delete your personal information that we have collected, you can contact us at care@agskeys.com</p></br>
</body>
</html>
