@model IEnumerable<agskeys.Models.customer_profile_table>
@{
    ViewBag.Title = "Refer";
    Layout = "~/Views/Shared/_MobileVendorLayout.cshtml";
}
<style>
    .f1 {
        color: #580000;
    }
</style>
<div class="L1 navbar-header">
    <!-- <img src="images/bg.jpg"> -->
    <div class="container">
        <div class="row" style="background: #fa4e5a;">

            <div class="col-sm-12 col-xs-12 disp-name">
                <span class="col-sm-2 col-xs-2 " style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()">&#9776; </span>

                <div id="L1-body">
                    <p class="col-sm-8 col-xs-8 ">Refer</p>
                    <a class="col-sm-2 col-xs-2 " onclick="goBack()" style="padding-top: 8px;"><i class="fa fa-angle-left"></i></a>
                </div>
            </div>
        </div>

    </div>



</div>

<div class="L1 main-page" id="L-body" style="min-height: 100%;">
    <div class="container">
        <div class="row " id="sec">




        </div>
        <div class="row">
            <div class="col-sm-12" style="min-height:100vh;">
                <!-- Authentication card start -->
                <form class="form-horizontal f1" id="login-form" method="post" action="@Url.Content("/MobileVendor/Refer/")">
                    <div class="auth-box card">
                        <div class="card-block">
                            @if (TempData["customerSuccessMsg"] != null)
                            {

                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    @TempData["customerSuccessMsg"].ToString()
                                </div>

                            }
                            @if (TempData["customerFailedMsg"] != null)
                            {

                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    @TempData["customerFailedMsg"].ToString()
                                </div>

                            }
                            <div class="form-group form-primary">
                                <label class="float-label">Person Name</label>
                                <input type="text" id="referName" name="referName" class="form-control" placeholder="Referring Person name" required >
                                <span class="form-bar"></span>

                            </div>
                            <div class="form-group form-primary">

                                <label class="float-label">Contact Number</label>
                                <input type="text" id="referNumber" name="referNumber" class="form-control" placeholder="Contact number" required>
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">

                                <label class="float-label">Email Address</label>
                                <input type="text" id="referemail" name="referemail" class="form-control" placeholder="Email Address" required>
                                <span class="form-bar"></span>
                            </div>


                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit" value="SentEmail" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" style="background-color: #d91f27; border-color: white;">Sent Email</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>



    </div>
</div>