
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGS</title>
  
  
    <!-- Bootstrap -->
    <link href="~/ags-mobile/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/ags-mobile/vendors/font-awesome/css/font-awesome.min1.css" rel="stylesheet">
   
    <!-- Custom Theme Style -->
    <link href="~/ags-mobile/build/css/customeLogin.css" rel="stylesheet">
</head>
<body style=" background-image: url(ags-mobile/images/newyork_edit.jpg);">
    <div class="L1">
        <!-- <img src="images/bg.jpg"> -->
        <div class="container">
            <div class="row">
                <br>
                <div class="col-sm-12 col-xs-12 ">
                   
                </div>
             
                <div class="col-sm-12 col-xs-12 L11">
                  

                    <form class="form-horizontal f1" id="login-form" action="@Url.Content("/Account/MobileLogin/")" method="POST">
                        <h2><img src="~/ags-mobile/images/keys.png"></h2>
                        @if (TempData["userRoleMissing"] != null)
                        {

                            <div class="alert alert-danger alert-dismissible" role="alert" style="width: 100%;">
                                @TempData["userRoleMissing"].ToString()
                                <button type="button" class="close" style="width:auto;height:auto;  padding: 0px 0px; background-image: none;
top: -6px !important;" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                             
                            </div>

                        }
                        @if (TempData["Message"] != null)
                        {

                            <div class="alert alert-danger alert-dismissible" role="alert" style="width: 100%;">
                                @TempData["Message"].ToString()
                                <button type="button" class="close" data-dismiss="alert" style="width:auto; height:auto; padding: 0px 0px;background-image: none;
top: -6px !important;"><span aria-hidden="true" style="font-size:30px;">×</span><span class="sr-only">Close</span></button>
                             
                            </div>

                        }
                        @if (TempData["logAgain"] != null)
                        {

                            <div class="alert alert-danger alert-dismissible" role="alert" style="width: 100%;">
                                @TempData["logAgain"].ToString()
                                <button type="button" class="close" data-dismiss="alert" style="width:auto; height:auto; padding: 0px 0px;background-image: none;
top: -6px !important;">
                                    <span aria-hidden="true" style="font-size:30px;">×</span><span class="sr-only">Close</span>
                                </button>

                            </div>

                        }
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12 ">
                                <!-- <i class="fa fa-user" aria-hidden="true"></i> --><label class="lbl">USERNAME</label>
                            </div>

                            <div class="col-sm-12 col-xs-12 gly">
                                <!-- <i class="fa fa-user" aria-hidden="true"></i> --><input type="text" class="fc1 pd1" id="userName" name="userName" required>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12 ">
                                <!-- <i class="fa fa-lock" aria-hidden="true"></i> --><label class="lbl">PASSWORD</label>
                            </div>

                            <div class="col-sm-12 col-xs-12 gly">
                                <!-- <i class="fa fa-lock" aria-hidden="true"></i> --><input type="password" class="fc1 pd2" id="password" name="password" required>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12 gly utype">
                                <select name="userlevel" class="fc1 pd1"  id="userlevel" style="height: 44px;border-radius: 3px;border-color: #333c4a;color: #9a9a9a;background: transparent !important;" required>
                                    <option value="">Select user type</option>
                                    <option value="partner">Partner</option>
                                    <option value="clientele">Customer</option>
                                    <option value="sales_executive">Sales Executive</option>
                                    <option value="manager">Manager</option>
                                    <!--<option value="Student">Student</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-12 col-xs-12">
                                <button type="submit" name="btn-login" id="btn-login" value="Login" class="btn btn-default">LOGIN</button>
                            </div>

                        </div>
                        <div class="form-group">
                            <a href="~/Account/ForgotPasswordMobile" class="text-right f-w-600"> <label class="control-label col-sm-12 col-xs-12" for="name" style="text-align: center; color:black;">Forget Password..?</label></a>
                        </div>
                    </form>
                </div>
                <!-- <div class="col-sm-4"></div> -->
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/ags-mobile/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/ags-mobile/vendors/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Custom Theme Scripts -->
    <script src="~/ags-mobile/build/js/custom.min.js"></script>

</body>
</html>