@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}



        <!-- subheader -->
        <section id="subheader" class="subheaderb" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>About Us</h1>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->
        <!-- content begin -->
        <div id="content" class="no-top no-bottom">
            <section id="section-about-us-2" class="side-bg no-padding">
                <div class="row">
                    <div class="image-container col-md-4 pull-left about-img" data-delay="0"></div>
                    <div class="container-fluid">

                        <div class="inner-padding">
                            <div class="col-md-7"></div>
                            <div class="col-md-8 pull-right wow fadeInRight txt-align txt-size about-pad" data-wow-delay=".5s">
                                <h2 class="txt-size1" style="letter-spacing: 2px; font-weight: 700;font-size: 28px;padding: 23px 0;">AGS KEYS</h2>
                                <p class="intro" style="text-align:justify;">AGS KEYS is a leading consumer financial services oriented organization established in 2018 and situated in Bangalore. We are one of the dynamic, developing firms with interests in various segments of the financial services. We are resolved to help loan seekers particularly in Home Loan to discover the correct lender with the best possible direction. It is a one stop solution for your necessity with no additional or concealed charges.</p>
                                <p class="intro" style="text-align:justify;">As expert Independent Financial Advisers, forceful deals and administrations are approved to manage the presumed banks that had some expertise in home loans. AGS KEYS is the perfect place to the perfect answer for work out their fantasies. Our team of experts will guide you through out the entire process of buying of your dream house, Plot/ Loans for self-construction of house.</p>
                                <p class="intro" style="text-align:justify;">Our mission is to provide quality guidance, build relationships of trust, and develop innovative solutions for our clients. We are perfectly positioned to meet your unique financial needs while striving to exceed your highest expectations.</p>
                                <p class="intro" style="text-align:justify;">We connect highly-motivated consumers with financial institutions, resulting in leads that generate among the highest percentage of closed loans in our industry. If you need to get in touch with us for any reason, please use one of the channels listed in the contacts page. We focus on Home Loan solutions, as well as the associated services.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="experience" style="padding: 60px 0 90px 0;">
                <div class="container">
                    <div class="row">
                        <div class="convenience pad20 mar-top">
                            <h2 class="heading text-center text-uppercase wow zoomIn">OUR SERVICES</h2>
                            <!-- Services
                               ================================================== -->
                            <div id="services-wrapper">
                                <div id="services">
                                    <div class="inner-wrapper">
                                        <div class="container">
                                            <div class="row">
                                                <a href="~/AgskeysSite/home_loan" class="col-md-3 col-sm-6 col-xs-12">                                                   
                                                    <div class="service-box service-fold">
                                                        <i class="fas fa-home"></i>
                                                        <h3>Home Loan</h3>
                                                        <p>
                                                            One stop solutions for your financial needs .
                                                        </p>
                                                    </div>                                                    
                                                </a>
                                                 <a href="#" class="col-md-3 col-sm-6 col-xs-12">
                                                     <div class="service-box service-fold">
                                                         <i class="fas fa-user-circle"></i>
                                                         <h3>Personal Loan</h3>
                                                         <p>
                                                             One stop solutions for your financial needs .
                                                         </p>
                                                     </div>
                                                 </a>
                                                <a href="~/AgskeysSite/business_loan" class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="service-box service-fold">
                                                        <i class="fas fa-suitcase"></i>
                                                        <h3>Business Loan</h3>
                                                        <p>
                                                            One stop solutions for your financial needs .
                                                        </p>
                                                    </div>
                                                </a>
                                                <a href="~/AgskeysSite/lap" class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="service-box service-fold">
                                                        <i class="hippo-icon-pencil"></i>
                                                        <h3>LAP</h3>
                                                        <p>
                                                            One stop solutions for your financial needs .
                                                        </p>
                                                    </div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section id="section-testimonial" class="text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 col-md-offset-3 text-center wow fadeInLeft">
                            <h1>AGS KEYS</h1>
                            <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div id="testimonial-carousel" class="de_carousel  wow fadeInLeft" data-wow-delay=".3s">
                        <div class="col-md-12 col-sm-12 col-xs-12 item">
                            <div class="de_testi">
                                <blockquote style="margin-top: 25px;">
                                    <div class="de_testi_by div-align" style="width: 90px;padding-bottom: 20px;text-align:center">
                                        <img class="center-img" src="~/frontend/images/edit/person.png" alt="">
                                    </div>
                                    <div class="de_testi_by font-styles name-align name-align1">
                                        SURESH G
                                        (MANAGING DIRECTOR)
                                    </div>
                                    <p class="para-align" style="text-align:justify;">It gives me immense pleasure to welcome you all of you indeed through site of AGS Keys. I would also take this opportunity to express my gratitude and heartfelt thanks for your continued support and inspiration, which has resulted in remarkable success in many areas of operations of our organization. We are one of the leading loan agencies was fused in Bengaluru on 2017 as a Private limited Company.<span><br />Thanking you all</span><span><br />Wishing you all the best.</span></p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section begin -->
            <!-- logo carousel section close -->
        </div>

        <!-- footer begin -->
       <footer>
    <div class="footer-class-1">
        <div class="row">
            <div class="col-md-8">
                <div style="padding-bottom:10px;float:left; padding-left:10px;"><span>©&nbsp;</span><span class="copyright-year">@DateTime.Now.Year</span><span>&nbsp;</span><a href="http://www.agskeys.com/" target="_blank">www.agskeys.com</a>. All Rights Reserved.<p></p></div>
            </div>
            <div class="col-md-4">
                <a href="http://techvegas.in" target="_blank">Developed By Techvegas LLP</a>
            </div>
        </div>

        <!--  <p>Developed by Techvegas LLP</p>  -->
    </div>
</footer>
        <!-- footer close -->
   