@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}


        <!-- header close -->
        <!-- subheader -->
        <section id="subheader" class="subheaderbs" data-speed="8" data-type="background" ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>BUSINESS LOANS</h1>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>BUSINESS LOANS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->
        <section id="headservice" style="padding: 0px 0 0px 0;">
            <section class="about-video-area section-gap mar-top-2">
                <div class="vdo-bg">
                    <div class="container">
                        <div class="row align-items-center justify-content-center mar-top-3">
                            <div class="col-lg-12 about-video-right-business-loan justify-content-center align-items-center d-flex relative">
                                <div class="col-md-6">
                                    <p class="home-loan-header">BUSINESS LOAN</p>
                                    <p class="home-loan-para">Financial Flow is the life blood of any successful organisation. Most businesses will need a large amount of working capital to start up a new business or enable the rapid growth of an existing business. Scaling up always requires a influx of finances. Which is why, we go to all lengths to ensure that we can disburse a loan that can help you take your business to the next level. Business loans are very special to Andromeda and we have been helping our customers scale to new heights of success by helping them finance their dreams for their enterprises. While a personal is given on a personal capacity and income, a business loan is given based on company’s income and capacity and is given in the company’s name.</p>

                                </div>
                                <div class="col-md-6">
                                    <p class="business-loan-header-1">Eligibility Criteria :</p>

                                    <div class="wrapper center-block-1">
                                        <div class="panel-group panel-width" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading active" role="tab" id="headingOne">
                                                    <h4 class="panel-title-1">
                                                        <a class="header-aligns " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Age
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body panel-body-style">

                                                        <p class="business-loan-pad">Most banks will disburse business loans to individuals aged between 24 to 65 years.</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title-1">
                                                        <a class="collapsed header-aligns" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Current Business Experience
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body panel-body-style">

                                                        <p class="business-loan-pad">Banks will prefer that your business has been showing stable signs of growth at least for the last 3 years. If you can show sustained billing and revenues and top it off with profit, getting a business loan should not be a problem for you. Some banks give a loan amount up to 60 to 80% of your median annual profits.</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title-1">
                                                        <a class="collapsed header-aligns" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Total Business Experience
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body panel-body-style">
                                                        <p class="business-loan-pad">A bank will prefer if you have been engaged in sustainable business for atleast 5 years to consider giving you a loan. Your diversity in terms of business experience and so on along with good results will help you acquire your business loan.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- subheader -->
        <!-- footer begin -->
       <footer>
    <div class="footer-class-1">
        <div class="row">
            <div class="col-md-8">
                <div style="padding-bottom:10px;float:left; padding-left:10px;"><span>©&nbsp;</span><span class="copyright-year">@DateTime.Now.Year</span><span>&nbsp;</span><a href="http://www.agskeys.com/" target="_blank">www.agskeys.com</a>. All Rights Reserved.<p></p></div>
            </div>
            <div class="col-md-4">
                <a href="http://techvegas.in" target="_blank">Developed By Techvegas LLP</a>
            </div>
        </div>

        <!--  <p>Developed by Techvegas LLP</p>  -->
    </div>
</footer>
        <!-- footer close -->
    </div>
    
