
@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

        <!-- subheader -->
        <section id="subheader" class="subheaderh" data-speed="8" data-type="background" ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>HOME LOANS</h1>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>HOME LOANS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->
        <section id="headservice" style="padding: 0px 0 0px 0;">
            <section class="about-video-area section-gap mar-top-2">
                <div class="vdo-bg">
                    <div class="container">
                        <div class="row align-items-center justify-content-center mar-top-3">
                            <div class="col-lg-12 about-video-right justify-content-center align-items-center d-flex relative">
                                <div class="col-md-6">
                                    <p class="home-loan-header">HOME LOAN</p>
                                    <p class="home-loan-para">Purchasing a home or build up a home can be a valuable form of investment. However, it requires considerable thought and careful financial planning before taking on such a big step. If owning a house is part of your financial goal, then you'll need to know whether you can afford from your income and savings. You can use our housing loan calculator to find out your monthly installment, total repayment and total interest for any particular housing loan packages.</p>
                                    <p class="home-loan-para">Most people take on a housing loan from a banking institution which offers different loan packages to cater for the needs of different users. We can help you to get a home loan of Axis bank. When it is compared with other banks, you will ensure the benefits and best Service from Our financial services. Monthly installments are fixed for a period of time.</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="home-loan-header-1">Eligibility Criteria :</p>

                                    <div class="wrapper center-block-1">
                                        <div class="panel-group panel-width" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading active" role="tab" id="headingOne">
                                                    <h4 class="panel-title-1">
                                                        <a class="header-aligns " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Salaried Individuals
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body panel-body-style">
                                                        <ul class="home-loan-pad">
                                                            <li>Individuals in permanent service in the Government or reputed companies meet our Home Loan eligibility criteria</li>
                                                            <li>Applicants should be above 24 years of age at the time of loan commencement and up to the age of 60 or superannuation, whichever is earlier at the time of loan maturity.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title-1">
                                                        <a class="collapsed header-aligns" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Professionals
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body panel-body-style">
                                                        <ul class="home-loan-pad">
                                                            <li>Professionals (ie, doctors, engineers, dentists, architects, chartered accountants, cost accountants, company secretary, management consultants only) can apply.</li>
                                                            <li>Applicants above 24 years of age at the time of loan commencement and up to 65 years or less at the time of loan maturity meet our housing loan criteria.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title-1">
                                                        <a class="collapsed header-aligns" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Self Employed Individuals
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body panel-body-style">
                                                        <ul class="home-loan-pad">
                                                            <li>Any individual filing income tax returns can apply</li>
                                                            <li>Applicants should be above 24 years of age at the time of loan commencement and up to 65 years or less at the time of loan maturity</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- subheader -->
        <!-- footer begin -->
       
<footer>
    <div class="footer-class-1">
        <div class="row">
            <div class="col-md-8">
                <div style="padding-bottom:10px;float:left; padding-left:10px;"><span>©&nbsp;</span><span class="copyright-year">@DateTime.Now.Year</span><span>&nbsp;</span><a href="http://www.agskeys.com/" target="_blank">www.agskeys.com</a>. All Rights Reserved.<p></p></div>
            </div>
            <div class="col-md-4">
                <a href="http://techvegas.in" target="_blank">Developed By Techvegas LLP</a>
            </div>
        </div>

        <!--  <p>Developed by Techvegas LLP</p>  -->
    </div>
</footer>
        <!-- footer close -->
    </div>
  

    @*<script>
    $(document).ready(function() {
        $(".close").click(function() {
            $("body").removeClass("popupremove")
        });
    });
    </script>*@
  

    <script>
                                        var allowSubmit = false;
                                        function capcha_filled () {
                                            allowSubmit = true;
                                        }
                                        function capcha_expired () {
                                            allowSubmit = false;
                                        }
                                        function check_if_capcha_is_filled (e) {
                                            if(allowSubmit) return true;
                                            e.preventDefault();
                                            alert('Fill in the capcha!');
                                        }

    </script>
    <!--Popup-->
    <div id="myModal" class="modal fade homePopup">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" style="width: 60% !important;">
                <div class="modal-content-index">
                    <div class="modal-header-index">
                        <h3 class="modal-title" id="exampleModalLabel" style="color: #fff;">080 4093 3298, +91 99862 09225</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-bottom:100px;">x</button>
                    </div>
                    <div class="section-header-index">
                        <span class="section-header__title-index">OR</span>
                    </div>
                    <div class="modal-body">
                        <div class="form">
                            <form id="enq3" name="enq3" class="form-index" action="enquiry_submit.html" onsubmit="check_if_capcha_is_filled" method="post">

                                <h2>Request A Callback</h2>
                                <h4>Share Your Information</h4>
                                <div class="form-inline">
                                    <div class="form-group col-sm-6">
                                        <input class="form-control input-index" type="text" name="name" placeholder="Name" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input class="form-control input-index" type="text" name="phone" maxlength="10" pattern="[0-9]{10}" placeholder="Contact Number" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input class="form-control input-index" type="email" name="email" placeholder="Email ID" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input class="form-control input-index" type="text" name="time" placeholder="Preferred Time">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <textarea class="form-control input-text-index" id="textarea" id="message" name="message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <script src='https://www.google.com/recaptcha/api.js'></script>



                                        <div class="g-recaptcha" data-callback="capcha_filled" data-expired-callback="capcha_expired" data-sitekey="6LerYB4UAAAAAJ7AaEG668zVXd05ZtLGKpVJHH5t" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <input type="submit" name="submit" value="submit" class="submit form-control input-submit-index" placeholder="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--Popup-->
