@model agskeys.Models.external_comment_table

<div class="modal-body">
    <!-- [ breadcrumb ] start -->
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-trash bg-c-blue"></i>
                    <div class="d-inline">
                        <h4>Delete External Comment</h4>
                        <span>Agskeys</span><br /><br />
                        <h5>Are you sure you want to delete this?</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <button type="button" class="close" style="font-size:30px" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-block " style="box-shadow: 0 0 55px 0 rgba(43,43,43,0.1),0 11px 6px -7px rgba(43,43,43,0.1);">

                                <div class="row" style="padding-top: 20px;">

                                    <div class="col-sm-12 col-md-12">
                                        @*<h4 style="margin-bottom:25px;">Additional Information</h4>*@
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h4>External Comment</h4>
                                                <p>@Html.DisplayFor(model => model.externalcomment)</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                @Html.ActionLink("Back to List", "ExternalComment")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

